<div fxFlex="100">
    <div fxLayout="column">
        <div class="m-1" fxFlex="100" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="column" fxLayout.sm="column"
            fxLayout.xs="column">
            <div fxFlex.xl="75" fxFlex.lg="75" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column">

                <div class="mx-2" fxFlex="100">

                    <div class="mat-bg-light-primary my-3 mat-text-secondary p-3 lecture-video-title">
                        <span>{{currentLecture.course.title }} > {{currentLecture.title}}</span>
                    </div>


                    <video id="videoPlayer" [poster]="LECTURES_IMAGES_URL+ currentLecture.coverImage"
                        class="playing-video" width="320" height="240" autoplay controls #videoPlayer>
                        <source [src]="LECTURE_STREAM_URL+currentLecture.video" type="video/mp4">
                    </video>


                    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="column" fxLayout.sm="column"
                        fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.sm="center start "
                        fxLayoutAlign.xs="center start ">
                        <div fxLayout="row" fxLayoutAlign="start center" class="cursor-hand">
                            <img mat-card-image
                                [src]="currentLecture.course.author.profileImage ? PROFILE_IMAGES_URL+ currentLecture.course.author.profileImage: DEFAULT_USER_IMAGE"
                                class="circle-avatar-md my-3" style="margin-inline-end: 8px;">
                            <div fxLayout="column">
                                <mat-card-title class="f-w-500"> {{currentLecture.course.author.firstName +' '+
                                    currentLecture.course.author.lastName}} </mat-card-title>
                                <mat-card-subtitle class="mat-text-secondary">
                                    @{{currentLecture.course.author.username}}</mat-card-subtitle>

                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20">
                            <mat-chip-row color="light-primary">{{ 'views'| translate}}
                                <mat-icon color="secondary" class="icon-xs">remove_red_eye</mat-icon>
                            </mat-chip-row>
                            <mat-chip-row color="light-primary">{{ 'comments'| translate}}
                                <mat-icon color="secondary" class="icon-xs">comment</mat-icon>
                            </mat-chip-row>
                            <mat-chip-row color="light-primary">{{'likes'|translate}}
                                <mat-icon color="secondary" class="icon-xs">thumb_up</mat-icon>
                            </mat-chip-row>
                        </div>
                    </div>



                    <h2>{{currentLecture.title}}</h2>

                    <div class="mat-bg-light-secondary p-3 rounded-1">
                        {{currentLecture.description}}

                    </div>

                    <mat-divider class="mt-3"></mat-divider>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="my-3">

                        <span class="f-w-bold">{{'reviews' | translate}}</span>
                        <button mat-raised-button color="primary" class="rounded-2"
                            (click)="openAddReviewDialog()">{{'leave_review' | translate}}
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>

                    <div fxLayout="column" *ngFor="let review of currentLecture.reviews">

                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="row" fxLayoutAlign="start center" class="cursor-hand">
                                <img mat-card-image
                                    [src]="review.author.profileImage ? PROFILE_IMAGES_URL+ review.author.profileImage: DEFAULT_USER_IMAGE"
                                    class="circle-avatar-md my-3" style="margin-inline-end: 8px;">

                                <div fxLayout="column">
                                    <mat-card-title class="f-w-500"> {{review.author.firstName +' '+
                                        review.author.lastName}}
                                    </mat-card-title>
                                    <mat-card-subtitle> @{{review.author.username}}</mat-card-subtitle>
                                </div>
                            </div>

                            <app-rating-star [rating]="review.ratingValue"></app-rating-star>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-between center"
                            class="mat-bg-light-secondary rounded-1 p-2" style="margin-inline-start: 50px;">
                            {{review.contentText}}

                            <span class="f-w-thin f-s-italic mat-text-secondary">{{review.createdAt |
                                dateConverter}}</span>

                        </div>

                    </div>

                </div>



            </div>



            <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.sx="5">

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="mt-5 f-w-bold">{{'lectures' | translate}} {{currentLecture.lectureOrder +' \\ '+
                        lectures.length}}</span>
                    <mat-slide-toggle checked color="primary">{{'auto_play_next' | translate}}</mat-slide-toggle>
                </div>



                <div *ngFor="let lecture of lectures"
                    class="shadow-dark-sm mat-bg-light rounded-1 mt-4 mx-2 lecture-card" [ngClass]="{
                    'mat-bg-light-primary': currentLecture.lectureOrder === lecture.lectureOrder
                }">
                    <div fxLayout="row">
                        <img [src]="LECTURES_IMAGES_URL+lecture.coverImage" class="lecture-img rounded-1">

                        <div fxLayout="column" fxLayoutAlign="space-between start" class="p-3">

                            <span class="lecture-title" (click)="changeCurrentLecture(lecture.id)">{{lecture.title}}</span>
                            <mat-card-subtitle>{{lecture.description | toShortText}}</mat-card-subtitle>

                            <div fxLayout="row"  fxLayoutAlign="space-between center" class="mat-text-dark" style="font-size: smaller;">
                                <div>
                                    <mat-icon class="mr-2 icon-xs" color="primary">access_time</mat-icon>
                                    <span>{{ lecture.length |secondsToLength }}</span>
                                </div>
                                |
                                <div>
                                    <mat-icon class="mr-2 icon-xs" color="primary">thumb_up</mat-icon>
                                    <span>{{ lecture.likesCount |secondsToLength }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- <div fxLayout="column">
    <admin-toolbar-list></admin-toolbar-list>

</div> -->