<div class="shadow-dark-sm mat-bg-light rounded-1 p-3 mt-4"  >
    <div style="position: relative;">
        <div class="free-bage mat-bg-light p-2 px-3 m-3 rounded-1 " >
            <span *ngIf="course.isCourseFree" class="mat-text-success">  {{'free'|translate}}</span>
            <span *ngIf="!course.isCourseFree" class="mat-text-danger">  ${{course.price}}</span>
          
        </div>
        <img mat-card-image [src]="IMAGES_URL+course.coverImage" class="course-card-img rounded-1" style="object-fit: cover;" >

    </div>
    <mat-card-content>

        <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div fxLayout="row" fxLayoutAlign="start center" class="cursor-hand">
                <img mat-card-image [src]="course.author.profileImage ? PROFILE_IMAGES_URL+ course.author.profileImage: DEFAULT_USER_IMAGE"
                  class="circle-avatar-md my-3" style="margin-inline-end: 8px;" >
                <div fxLayout="column">
                  <mat-card-title class="f-w-500"> {{course.author.firstName +' '+ course.author.lastName}} </mat-card-title>
                  <mat-card-subtitle class="mat-text-secondary"> @{{course.author.username}}</mat-card-subtitle>
    
                </div>
            </div>
            <mat-icon color="accent">favorite_border</mat-icon>
        </div>

        <p class="my-1 f-w-bold">{{course.title}}</p>


        <div fxLayout="row" fxLayoutAlign="space-between center" >

            <div fxLayout="row"  fxLayoutAlign="center start " fxLayoutGap="10">
                <img src="/assets/images/icons/book.png" class=" icon-xs img-color-red"  > 
                <p class="mat-text-secondary">{{course.lecturesCount}} {{'lecture'| translate}}</p>
            </div>
            
            <div fxLayout="row"  fxLayoutAlign="center start" fxLayoutGap="10">
                <mat-icon color="primary">timer</mat-icon>
                <p class="mat-text-secondary"> {{ course.hours | secondsToLength }}</p>
            </div>

        </div>

        <mat-divider></mat-divider> 

    </mat-card-content> 
    <mat-card-actions class="p-2">

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
            <app-rating-star [rating]="course.rating" ></app-rating-star>
            <button *ngIf="course.isEnrolled" mat-stroked-button color="primary" class="rounded-2" [routerLink]="['/user/my-courses',course.id]">
                <span class="mat-text-secondary">
                    {{'view_course'|translate}}
                </span>
            </button>
            
            <button *ngIf="!course.isEnrolled" mat-stroked-button color="primary" class="rounded-2" [routerLink]="['/user/buy-course',course.id]">
                <span class="mat-text-secondary">
                    {{'enroll'|translate}}
                </span>
            </button>
        </div>
        
    </mat-card-actions>
</div>