<mat-list class="mx-3 mt-4 p-3" fxHide.sm fxHide.xs>

    <mat-list-item>
        <div matListItemTitle><span class="mat-headline-3 m-2 mat-text-primary">LOGO</span></div>
    </mat-list-item>

    <mat-list-item [routerLink]="['/user/dashboard']" routerLinkActive="active" class="sid-nav-item mt-5">
        <mat-icon matListItemIcon color="primary">dashboard</mat-icon>
        <div matListItemTitle class="sid-nav-item">{{'dashboard' | translate}}</div>
    </mat-list-item>
 

    <mat-list-item [routerLink]="['/user/my-courses']" routerLinkActive="active">
        <mat-icon matListItemIcon color="primary">book</mat-icon>
        <div matListItemTitle class="sid-nav-item">{{'my_courses' | translate}}</div>
    </mat-list-item> 
    

    <mat-list-item>
        <mat-icon matListItemIcon color="primary" >equalizer</mat-icon>
        <div matListItemTitle class="sid-nav-item">Analytics</div>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon color="warn" >star</mat-icon>
        <div matListItemTitle class="sid-nav-item">Rewards</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon color="danger" >schedule</mat-icon>
        <div matListItemTitle class="sid-nav-item">Schedule</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon color="success" >message</mat-icon>
        <div matListItemTitle class="sid-nav-item">Messages</div>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon color="accent" >settings</mat-icon>
        <div matListItemTitle class="sid-nav-item">Prefrences</div>
    </mat-list-item>
</mat-list> 