<span *ngIf="(rating | toCeil) ===0 ">
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
</span>

<span *ngIf="(rating | toCeil)===1">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
</span>


<span *ngIf="(rating | toCeil)===2">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>

</span>
<span *ngIf="(rating | toCeil)===3">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>

</span>

<span *ngIf="(rating | toCeil)===4">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="mat-text-light-dark">star_rate</mat-icon>

</span>
<span *ngIf="(rating | toCeil)===5">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
</span>