<div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">

    <mat-form-field fxFlex="20" fxHide.xs>
        <mat-label>Search</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <!-- ----------------------- -->
    <div fxFlex="20" fxFlex.xs="90" fxLayoutAlign="space-around center">
        <button mat-icon-button aria-label="home">
            <mat-icon>home</mat-icon>
        </button>

        <button mat-icon-button aria-label="home">
            <mat-icon>group</mat-icon>
        </button>

        <button mat-icon-button aria-label="home">
            <mat-icon>notifications</mat-icon>
        </button>

    </div>
    <!-- -------------------- -->
    <div fxFlex="20" fxLayoutAlign="end center">

        <button mat-icon-button matTooltip="Menu" fxHide.xs>
            <mat-icon>grid_on</mat-icon>
        </button>


        <button mat-icon-button color="danger" matTooltip="Like" fxHide.xs>
            <mat-icon>favorite</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Notifications" fxHide.xs>
            <mat-icon>notifications</mat-icon>
        </button>

        <button mat-icon-button class="circle-avatar-sm" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu"
            style="background-image: url('https://t3.ftcdn.net/jpg/02/99/04/20/360_F_299042079_vGBD7wIlSeNl7vOevWHiL93G4koMM967.jpg');">

        </button>

        <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
            <button mat-menu-item routerLink="#" >
                <mat-icon color="primary">person</mat-icon><span>My Account</span>
            </button>
            <button mat-menu-item routerLink="#">
                <mat-icon color="accent">settings</mat-icon><span>Settings</span>
            </button>
            <button mat-menu-item routerLink="#">
                <mat-icon color="warn">help</mat-icon><span>Help</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="#">
                <mat-icon color="danger">exit_to_app</mat-icon>Logout
            </button>



        </mat-menu>
    </div>


</div>