<div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="30" class="my-5" style="padding-inline-end: 50px;">

        <div fxLayout="column">
            <img [src]="IMAGES_URL+course.coverImage" alt="" class="cover-imag">
            <div fxLayout="column">
                <p class="mat-heading-3 f-w-bold">{{course.title}}</p>
                <p>{{course.description}}</p>
    
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div fxLayout="column">
                        <app-rating-star [rating]="course.rating"></app-rating-star>
    
                        <p class=" f-w-bold mt-5"> {{'instractor'}}</p>
                        <div fxLayout="row" fxLayoutAlign="start center" class="cursor-hand">
                            <img mat-card-image
                                [src]="course.author.profileImage ? PROFILE_IMAGES_URL+ course.author.profileImage: DEFAULT_USER_IMAGE"
                                class="circle-avatar-md my-3" style="margin-inline-end: 8px;">
                            <div fxLayout="column">
                                <mat-card-title class="f-w-500"> {{course.author.firstName +' '+ course.author.lastName}}
                                </mat-card-title>
                                <mat-card-subtitle> @{{course.author.username}}</mat-card-subtitle>
    
                            </div>
                        </div>
                    </div>
                    <table class="mt-5">
                        <tr>
                            <td width="130">{{'price' | translate}}</td>
                            <td>${{course.price}}</td>
                        </tr>
                        <tr>
                            <td>{{'hours' | translate}}</td>
                            <td>{{course.hours}} {{'h'|translate}}</td>
                        </tr>
    
                        <tr>
                            <td>{{'enrolled_students' | translate}}</td>
                            <td>{{course.enrolledStudentsCount}} {{'student'|translate}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div fxFlex="50">
            <app-payment [course]="course"></app-payment>

        </div>

        
    </div>


    <div style="width: 95%;">
        <mat-tab-group >
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="mx-2">comment</mat-icon>
                    {{'reviews' | translate}}
                </ng-template>
                <div class="mt-3" style="width: 50%; min-height: max-content;">
    
                    <button mat-raised-button (click)="openAddReviewDialog()" color="primary">{{'leave_review' |
                        translate}}</button>
    
    
                    <div fxLayout="column" *ngFor="let review of course.reviews">
    
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="row" fxLayoutAlign="start center" class="cursor-hand">
                                <img mat-card-image
                                    [src]="review.author.profileImage ? PROFILE_IMAGES_URL+ review.author.profileImage: DEFAULT_USER_IMAGE"
                                    class="circle-avatar-md my-3" style="margin-inline-end: 8px;">
    
                                <div fxLayout="column">
                                    <mat-card-title class="f-w-500"> {{review.author.firstName +' '+
                                        review.author.lastName}}
                                    </mat-card-title>
                                    <mat-card-subtitle> @{{review.author.username}}</mat-card-subtitle>
                                </div>
                            </div>
    
                            <app-rating-star [rating]="review.ratingValue"></app-rating-star>
                        </div>
    
                        <div fxLayout="row" fxLayoutAlign="space-between center"
                            class="mat-bg-light-secondary rounded-1 p-2" style="margin-inline-start: 50px;">
                            {{review.contentText}}
    
    
                            <span class="f-w-thin f-s-italic mat-text-secondary">{{review.createdAt | dateConverter}}</span>
    
    
    
                        </div>
    
                    </div>
    
    
                </div>
    
    
            </mat-tab>
    
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="mx-2">people</mat-icon>
                    {{'enrolled_students' | translate}}
                </ng-template>
    
    
                <div *ngFor="let student of course.enrolledStudents">
                    <div fxLayout="row" fxLayoutAlign="start center" class="cursor-hand">
                        <img mat-card-image
                            [src]="student.profileImage ? PROFILE_IMAGES_URL+ student.profileImage: DEFAULT_USER_IMAGE"
                            class="circle-avatar-md my-3" style="margin-inline-end: 8px;">
    
                        <div fxLayout="column">
                            <mat-card-title class="f-w-500"> {{student.firstName +' '+ student.lastName}}
                            </mat-card-title>
                            <mat-card-subtitle> @{{student.username}}</mat-card-subtitle>
                        </div>
                    </div>
                </div>
    
            </mat-tab>
        </mat-tab-group>
    </div>
  


</div>