<ng-container *ngIf="control">


    <span *ngIf="control?.hasError('required')&& (control.dirty || control.touched)">
        {{fieldName | translate}}   {{'required'|translate}} ! </span>


    <span *ngIf="control?.hasError('maxlength')&& (control.dirty || control.touched)"> {{'max_length_is'|translate}} :
        {{control?.errors?.['maxlength']?.requiredLength}}</span>

    <span *ngIf="control?.hasError('minlength')&& (control.dirty || control.touched)"> {{'min_length_is'|translate}} :
        {{control?.errors?.['minlength']?.requiredLength}}</span>

    <span *ngIf="control?.hasError('max')&& (control.dirty || control.touched)"> {{'max_value_is'|translate}} :
        {{control?.errors?.['max']?.max}} </span>


     
        <span *ngIf="control?.hasError('min')&& (control.dirty || control.touched)"> {{'min_value_is'|translate}} : {{control?.errors?.['min']?.max}} </span>
 
</ng-container>