.example-spacer {
    flex: 1 1 auto;
  }

.bg-gradeint{
  background-image: linear-gradient(to bottom left , rgba(109, 136, 224, 0.651), rgb(255, 227, 195));
}

.counter-card{
  height: 70px;
  background-color: white;
  border-radius: 18px; 
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;

}