<mat-toolbar class="bg-transparent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>E Learning</span>
    <span class="example-spacer"></span>

    <div fxLayout="row" fxLayoutGap="30">
        <span>Home</span>
        <span>About Us</span>
        <button *ngIf="!isLoggedIn" mat-button [routerLink]="['/login']" routerLinkActive="active" >{{ 'login' | translate}}</button>
    </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    
</mat-toolbar>