/* You can add global styles to this file, and also import other style files */

@import url(/src/assets/css/footer.css);

@font-face {
    font-family: Rubik;
    src: url(assets/fonts/Rubik-VariableFont_wght.ttf);
  }
html,
body {
    height: 100vh;
    --mdc-outlined-text-field-error-outline-color: #fd2929;
    --mdc-outlined-text-field-error-label-text-color: #fd2929;
}

body {
    margin: 0;

    overflow: hidden;
    overflow-y: scroll;

}

.app-container {
    height: 100vh;
    margin: 0;
}

.app-sidenav {
    width: 250px;
    border: none;
}

.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.no-rebeat {
    background-repeat: no-repeat;
}

.bg-img-fit-cover {
    object-fit: cover;
}

.circular-spinner-sm {
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}

.section-title{
  font-weight: bolder;
  font-size: 2.7rem;
  color: #223253;
  margin-top: 14px;
  margin-bottom: 14px;
}


.bg-hidden {
    background-color: transparent;
    border: 0px;
}

.f-w-bold {
    font-weight: bold;
}

.circle-avatar-sm {
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    object-fit: cover;
}

.circle-avatar-md {
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    object-fit: cover;

}

.icon-lg {
    transform: scale(2);
}
.icon-md {
  height: 36px !important;
  width: 36px !important;
  font-size: 36px !important;
}

.icon-sm {
    transform: scale(1.2);
}

.opacity-8 {
    opacity: 0.8 !important;
}

.border-0 {
    border: none !important;
}
.rounded-0 {
    border-radius: 0px !important;
}
.rounded-1 {
    border-radius: 9px !important;
}
.rounded-2 {
    border-radius: 20px !important;
}

.f-w-500 {
    font-weight: 500 !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

.bg-white {
    background-color: #ffffff;
}
.img-radius-sx {
    height: 30px !important;
    width: 30px !important;
    object-fit: scale-down;
}
.img-radius-sm {
    height: 50px !important;
    width: 50px !important;
    object-fit: scale-down;
    border-radius: 12px;
}

.img-radius-lg {
    height: 150px !important;
    width: 150px !important;
    object-fit: cover;
    border-radius: 50%;

}

.my-card-md{
    max-height: 300px !important;
}
.line-on-text{
    text-decoration: line-through !important;
}

.shadow-xs{
    box-shadow: 3px 2px 5px 0px #f0f0f0 !important;
 }

 .shadow-sm{
    box-shadow: 3px 2px 10px 1px #f0f0f0 !important;
 }
 .shadow-dark-sm{
  box-shadow: 3px 2px 10px 1px #00000025 !important;
}

 .full-screen-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
 }


 .mat-form-field-outline-start, .mat-form-field-outline-end {
    border-radius: 0 !important;
}

.text-gold{
    color: #FFD700;
}

.text-capitalize{
    text-transform: capitalize;
}
.lecture-card{
  height: 120px;
}
.lecture-title{
  font-size: 0.9rem;
  font-weight: 700;
}
.lecture-title:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lecture-img{
    width: 160px;
    height: 120px;
    object-fit: cover;
}


.my-table {

    border-collapse: collapse;
    width: 100%;
  }

 .my-table td, .my-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .my-table tr:nth-child(even){background-color: #f2f2f2;}

  .my-table tr:hover {background-color: #ddd;}

  .my-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e0e0e0;
    color: rgb(110, 110, 110);
  }




  .form-array-table{
    border-collapse: collapse;
    width: 100%;
  }
  .form-array-table td, .form-array-table th {
    border: 1px solid #ddd;
   padding: 14px;
   padding-bottom: 0px;

  }

  .form-array-table td .mat-mdc-form-field{
    width: 100% !important;
  }
  .form-array-table tr:nth-child(even){background-color: #f2f2f2;}

  .form-array-table tr:hover {background-color: #f1f1f1;}

  .form-array-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e0e0e0;
    color: rgb(110, 110, 110);
  }
  .mdc-text-field--outlined{
    --mdc-outlined-text-field-outline-width: 0.094rem !important;
    --mdc-outlined-text-field-outline-color: #cecece;
  }
/*   .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .mat-mdc-form-field-infix{
    min-height: 45px !important;
  } */
  .mat-mdc-form-field-error{
    color: red !important;
  }

  .file-input{
    background-color: #4384ff;
    padding: 10px;
    border-radius: 6px;
  }

  .cursor-hand{
    cursor: pointer;
  }


  @media print {
    @page {
      orientation: landscape !important;
    }
    .printMe {
      visibility: visible;
      direction: rtl;

    }


    .notPrint{
      visibility: hidden

    }
  }

  .word-space{
    margin-inline-end: 4px;
}

.mat-dialog-container {
  border-radius: 20px !important;
}
/*
  .mat-mdc-form-field-infix{
    height: 13px !important;
    padding: 5px !important;
  } */
.bg-transparent{
  background-color: transparent !important;
}

.course-card-img{
  width: 100%;
  height: 220px;
  object-fit: scale-down;
}

.mat-bg-gold{
  background-color: #FFD700;
}

.img-color-red{
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 0, 0));
}
.icon-xs{
  height: 14px !important;
  width: auto !important;
  padding: 0px;
  font-size: 17px;

}



  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .select-image-preview{
    width: fit-content;
    cursor: pointer;
  }

  /* file upload button */
.custome-file-input::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
.custome-file-input::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
.custome-file-input::file-selector-button:active {
  background-color: #e5e7eb;
}


.f-s-italic{
  font-style: italic;
}
.f-w-thin{
  font-size: 12px;
}
