<div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">

    <button mat-icon-button fxHide.xl fxHide.lg fxHide.md color="secondary" [matMenuTriggerFor]="useMobileSideNamv" matTooltip="side nav" >
        <mat-icon>menu</mat-icon>
    </button>

    <!-- ----------------------- -->
    <div fxFlex="50" fxFlex.xs="90" fxLayoutAlign="space-around center">
        
    </div>
    <!-- -------------------- -->
    <div fxFlex="50" fxLayoutAlign="end center">

       
        <button mat-icon-button color="secondary" matTooltip="calender" >
            <mat-icon>calendar_today</mat-icon>
        </button>

        <button mat-icon-button color="secondary" matTooltip="Notifications" >
            <mat-icon>notifications</mat-icon>
        </button>


        <button mat-icon-button color="primary" matTooltip="dark mode" >
            <mat-icon>brightness_2</mat-icon>
        </button>
        
        
        <button mat-icon-button class="circle-avatar-sm m-3" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu"
        style="background-image: url('{{user.profileImage}}');">

    </button>

    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item [routerLink]="['/admin/edit-profile']" routerLinkActive="active" >
            <mat-icon color="primary">person</mat-icon><span>My Account</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon color="accent">settings</mat-icon><span>Settings</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon color="warn">help</mat-icon><span>Help</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon color="danger">exit_to_app</mat-icon>Logout
        </button>
    </mat-menu>



    <mat-menu #useMobileSideNamv [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item [routerLink]="['/']" routerLinkActive="active" >
             <span>LOGO</span>
        </button>
        <button mat-menu-item [routerLink]="['/user/dashboard']">
            <mat-icon color="primary">dashboard</mat-icon><span>{{'dashboard' | translate}}</span>
        </button>

        <button mat-menu-item [routerLink]="['/user/my-courses']">
            <mat-icon color="success">book</mat-icon><span>{{'my_courses' | translate}}</span>
        </button>
         
    </mat-menu>


    </div>








</div>