<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.sm="column" fxLayout.xs="column">
        <span class="f-w-500 mat-headline-4 text-capitalize m-0">{{'my_courses'| translate}}</span>
      
    </div>

  

    <div class="px-3" fxLayout="row wrap" fxFlex="73%" fxFlex.lg="68%" fxFlex.md="100%" fxFlex.xs="100%" fxLayout.xs="column"
    fxLayoutAlign="start ">
    <app-my-course-card fxFlex.xl="31.7%" fxFlex.lg="47%" fxFlex.md="47%" fxFlex.sm="100%" fxFlex.xs="100%" *ngFor="let studentCourse of StudentCoursesList" [studentCourse]="studentCourse"></app-my-course-card>
  </div>

    


    
</div>