<div fxFlex="100" fxLayout="row" style="height: 100vh">
    <loading-circular></loading-circular>
    <div fxFlex.xl ="15" fxFlex.lg="15" fxFlex.sm="0" fxFlex.xs="0" class="mat-bg-light">
        <user-side-nav-list fxFlex="100"></user-side-nav-list>
    </div>
    <div fxFlex.xl="85" fxFlex.lg="85" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column" > 
        <app-user-tool-bar  ></app-user-tool-bar>
        <div class="admin-content" fxFlex="100">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div> 